.bag {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background-size: 80%;
}

.health {
  border: 4px solid #333;
  width: 400px;
  margin: 40px auto;
  border-radius: 25px;
  overflow: hidden;
}

.health div {
  height: 40px;
  background-color: #d20026;
}

.buttons {
  margin: 0 auto;
  width: 300px;
}

.buttons button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 20px 20px;
  display: inline;
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:focus {
  outline: none;
}
